トップページ
<div class="containertext-center mt-5 mb-5">
  <div class="row">
    <div class="col text-center">
      このサイトを見て頂きありがとうございます。<br>
      こちらは本の感想やネット小説などの<br>
      感想を記載して頂き<br>
      皆でいいねや感想を送りあう<br>
      コミュニティサイトになります。<br>
      皆で本やネット小説を盛り上げて行きましょう！<br>
    </div>
  </div>
</div>

<div class="text-right">
<%= link_to "みんなのレビュー一覧へ", reviews_path %>