<li>
  <%= link_to "タグ一覧", admin_tags_path,class:"nav-link text-light" %>
</li>
<li>
  <%= link_to "レビュー一覧", admin_top_path,class:"nav-link text-light" %>
</li>
<li>
  <%= link_to "会員一覧", admin_customers_path,class:"nav-link text-light" %>
</li>
<li>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class:"nav-link text-light" %>
</li>