<li>
  <%= link_to "マイページ", customers_path(current_customer.id),class:"nav-link text-light" %>
</li>

<li>
  <%= link_to "レビュー一覧", reviews_path,class:"nav-link text-light" %>
</li>

<li>
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class:"nav-link text-light" %>
</li>